doctype html
html
  head
    title= NodeAuth
    link(rel='stylesheet', href='../node_modules/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
