extends layout

block content
    h1 LogIn
    p Please login below
    br
    form(method='post', action='/users/login', enctype='multipart/form-data')
        .form-group
            label Username
            input.form-control(name='username', type='text', placeholder='Enter your username')
        .form-group
            label Password
            input.form-control(name='password', type='password', placeholder='Enter your password')
        input.btn.btn-default(name='submit', type='submit', value='Login')
